@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body{
    font-family: "DM Sans" , sans-serif;
    font-size: 16px;
    overflow-x: hidden; 
}
a{
    text-decoration: none;
    cursor: pointer;
}
/* page d'acceuil */
.accessibility {
    text-align: center;
    font-weight: bold;
    height: 1.125rem;
    width: 10rem;
    position: absolute;
    top: 1.125rem;
    left: 50%;
    background-color: #D3573C;
    text-decoration: none;
    color: #FFFFFF;
    visibility: hidden;
  }
header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    height: 100px;
    width: 90vw;
    margin:0 50px;
    margin-bottom: 200px;
}
.logo{
    grid-area: 1/1/2/2; 
    margin-right: 50px;
}

.navigation{
    margin-top: 50px;
    margin-left: 50px;
}
nav ul{
    list-style: none;
    display: flex;
} 

nav ul li a , .tags a, .idDetails-tagg-link > a{
    text-decoration: none;
    border:1px solid #c4c4c4;
    padding: 10px;
    margin: 0 10px;
    border-radius: 30px;
    color: #901C1C;
    font-weight: 600;
    font-size: 1rem;
  }
  nav ul li a:hover, .idDetails-tagg-link > a:hover , .tags a:hover {
    color: #FFFFFF;
    background-color: #901C1C;
  }

.title{
    position: absolute;
    top: 30px;
    right: 30px;
    color:#901C1C;
    font-size: 36px;
    font-weight: 600;
    margin-right: 100px;
    margin-top: 50px;
    border: none;
}
#error-json {
    font-size: 2rem;
    color: #FFFFFF;
    margin: 5rem 0 0 1.25rem;
    padding: 0.8rem;
    background-color: #901C1C;
    width: 40%;
    border-radius: 0.3rem;
    text-align: center;
    display: none;
  }
  
  .photographer{
    display :grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 100px;
}
.space-card{
    margin: 25px;
    margin-left:3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photographer-photo-home{
    width: 20em;
    height: 20em;
    object-fit: cover; 
    border-radius: 50%;
    overflow: hidden;
}
.name{
    color:#D3573C;
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.local{
    color: #901C1C;
    font-size: 1.2rem;
}
.comment{
    color: #000000;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price{
    color: #757575;
    font-size: .8rem;
}
.tags{
    display: flex;
    list-style: none;
    margin-top: 30px;
}

/* page d'acceuil sur mobile */
@media screen and (max-width : 376px){
    header{
       width: 90vw;
       margin-bottom: 100px;
    }
   .header-banner-logo{
     width: 60vw;
     height: 5rem;
     margin-left: -1rem;
   }
    .logo{
      height: 70px;
      width: 40vw;
      margin-top: 20px;
    }
    .title{
      font-size: 1.2rem;
      width: 35vw;
      float: right;
      margin-right: 0px;
      margin-top: 0px;
    }
   .photographer{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
 
  
.photographer-tags-link{
    display:flex;
    flex-wrap: wrap;

}
.b-photographers{
  width: 90vw;
}
}
/* page photographer */
.filter-dropdown {
    display: flex;
    position: absolute;
    top: -0.7rem;
    left: 6.25rem;
  }
  .filter-dropdown-link {
    background-color: #901C1C;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    cursor: pointer;
    width: 10.625rem;
    text-align: left;
    position: relative;
  }
  
  .filter-dropdown-link > i {
    position: absolute;
    right: 1rem;
  }
  
  .dropdown-items {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
  }
  .dropdown-items-content {
    display: flex;
    flex-direction: column;
  }
  .dropdown-items-link {
    background-color: #901C1C;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: left;
    border-top: 0.06rem solid #FFFFFF;
    width: 10.625rem;
    z-index: 1;
  }
  .visible {
    display: none;
  }
  .b-filter {
    margin: 4.5rem 1.25rem;
    position: relative;
  }
  .b-filter > p {
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
  }
  .btn-contact {
    background-color: #901C1C;
    max-height: 5rem;
    padding: 1.1rem;
    margin-left: -35rem;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }
  .btn-contact:hover, .btn-contact:focus {
    background-color: #D3573C;
    border: none;
    outline: none;
  }
  .title-photographer {
    font-size: 4rem;
    font-weight: 400;
    color: #D3573C;
    margin: 0 0 0 3rem;
    order: 2;
  }
  .filter-dropdown {
    display: flex;
    position: absolute;
    top: -0.7rem;
    left: 6.25rem;
  }
  .filter-dropdown-link {
    background-color: #901C1C;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 10.625rem;
    text-align: left;
    position: relative;
  }
  
  .filter-dropdown-link > i {
    position: absolute;
    right: 1rem;
  }
  
  .dropdown-items {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
  }
  .dropdown-items-content {
    display: flex;
    flex-direction: column;
  }
  .dropdown-items-link {
    background-color: #901C1C;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: left;
    border-top: 0.06rem solid #FFFFFF;
    width: 10.625rem;
    z-index: 1;
  }
  
  .visible {
    display: none;
  }
  .b-idPhotographer {
    position: relative;
    margin:0 5rem;
    padding: 2rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.625rem;
    background-color:#FAFAFA;
  }
  .b-filter{
    margin-left: 5rem;
  }
  .idDetails_city {
    color: #901C1C;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    margin: 0.8rem 0 0 3rem;
  }
  .idDetails_slogan {
    color: #252525;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    margin: 1.5rem 0 0 3rem;
  }
  .idDetails_tagg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2rem 0 0 3rem;
  }
  @media screen and (max-width: 376px) {
    .idDetails {
      width: 80%;
    }
    .idDetails_city, .idDetails_slogan, .idDetails_tagg {
      font-size: 0.9rem;
      margin: 0.3rem 0;
    }
    .idDetails_slogan {
      margin-bottom: 0.8rem;
    }
    
  }
  
  .idDetails-tagg-link {
    cursor: pointer;
    list-style: none;
  }
    .idPicture img{
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 6rem;
  }
 
  .b-pictureInfo {
    display: grid;
    grid-template-columns: 2.2fr 0.6fr auto;
    margin: 1rem 0;
  }
  
  .mediaText {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #901C1C;
  }
 
  .mediaPrice, .mediaLikes {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    color: #901C1C;
  }
  
  .fa-heart {
    padding-left: 0.5rem;
    color: #901C1C;
    font-size: 1.5rem;
  }
  video , .medias-card>a>img{
    width :100%;
    height: 90%;
    object-fit: cover;
  }
 .medias-card {
  width: 40rem;
  height: 40rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
  cursor: pointer;
}
.b-works {
   width: 90vw;
 }
.mediasList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95vw;
  list-style: none;
  margin-left: 5rem;
}
.modal-contact {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1.35rem;
  left: 0;
  top: 0;
  overflow: auto;
  padding: 1.25rem 2rem;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
}
.modal-contact-content {
  width: 40rem;
  border-radius: 0.3rem;
  padding: 1.125rem;
  position: relative;
  top: 4rem;
  margin: 0 auto;
  background-color: #D3573C;
}
.modal-contact-content > h1, .modal-contact-content .photographerName {
  padding-bottom: 0.2rem;
  font-size: 3.5rem;
  font-weight: 400;
  color: #000000;
  line-height: 4rem;
}
.close-form {
  color: #FFFFFF;
  position: absolute;
  top: 2rem;
  right: 3.5rem;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
}
.close-form:hover, .close-form:focus {
  color: #901C1C;
  text-decoration: none;
  cursor: pointer;
}
.slide {
  display: none;
  max-height: 100vh;
  width: 100%;
}
.slide img{
  width:100%;
}
.media-slide {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  padding-bottom: 0.75rem;
  outline: none;
}
.previous {
  cursor: pointer;
  position: fixed;
  top: 50%;
  padding: 0 0 0 3rem;
  margin-top: -50px;
  color: #901C1C;
  font-weight: bold;
  font-size: 3rem;
}
.next {
  right: 0;
  cursor: pointer;
  position: fixed;
  top: 50%;
  padding: 0 7.5rem 0 0;
  margin-top: -50px;
  color: #901C1C;
  font-weight: bold;
  font-size: 3rem;
}
.modal-lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1rem 3.5rem 1.5rem 3.5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #FFFFFF;
}

.modalLight-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0;
  max-width: 80%;
}
.close-form {
  color: #FFFFFF;
  position: absolute;
  top: 2rem;
  right: 3.5rem;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
}
label {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  line-height: 2rem;
}
input {
  height: 3rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
}
textarea {
  height: 12rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 0.3rem;
  padding: 0.3rem;
  outline: none;
  border: none;
}
.btn-submit {
  background-color: #901C1C;
  margin-top: 1.5rem;
  padding: 1.1rem 2.2rem;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #D3573C;
  border: 0.3rem solid #901C1C;
  outline: none;
  color: #000000;
  padding: 0.8rem 1.9rem;
}
.close-lightbox {
  color: #901C1C;
  position: fixed;
  top: 1rem;
  right: 6rem;
  font-size: 3rem;
}
.b-likes-price {
  position: fixed;
  bottom: 0;
  right: 1rem;
  display: flex;
  flex-direction: row;
  width: 23rem;
  padding: 1rem;
  justify-content: space-around;
  background-color: #D3573C;
}
.b-likes-price-content {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
}
/*responsive page photographer*/
@media screen and (max-width:376px){
  .b-idPhotographer{
    width: 90vw;
    height: max-content;
    margin: 0 5vw;
  }
  .header-banner{
    height: 3rem;
  }
  .navigation-tags{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: -17rem;
    top: 5rem;
  }
 .photographer{
   padding-top: 8rem;
 }
 .title-photographer{
margin-left: -.5rem;
font-size: 1.5rem;
 } 
 .idDetails{
   margin-left: -1rem;
 }
 .idDetails>p{
   margin-left: -.5rem;
 }
  .idDetails-tagg-link{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  } 
  nav ul li a, .tags a, .idDetails-tagg-link > a{
  display: block;
  height: 30px;
  padding: 5px;
  margin:1rem 0;
}
  .idPicture img{
    width: 6rem;
    height: 6rem;
    margin-left: -.8rem;
  }
   .idDetails_tagg{
    display: flex;
    flex-wrap: nowrap;
  }
  .btn-contact{
    width:40%;
    height:3rem ;
    position: fixed;
    bottom: 6rem;
    right: 30vw;
  }
  .mediasList{
    display:flex;
    flex-direction: column;
    margin: 2rem;
  }
  .medias-card{
    width: 80vw;
    height: 25rem;
  }
  .close-lightbox{
    right: 2rem;
    font-size: 1.5rem;
  }
  .previous {
    font-size: 1.5rem;
    left: -1rem;
    top:18rem;
    position: fixed;
    
  }
  .next {
    font-size: 1.5rem;
    padding-right: 1.8rem;
    right: .8rem;
    top: 18rem;
    position: fixed;
  }
  .mediaText{
    font-size: 1rem;
  }
  .mediaPrice, .mediaLikes, .fa-heart{
    font-size: 1rem;
  }
  .modal-contact {
    left: 0;
    top: 0;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .modal-contact-content {
    width: 100vw;
    padding: 1rem;
    border-radius: 0.3rem;
    position: relative;
    right: 2rem;
    background-color: #D3573C;
    height: 100vh;
  }
  .modal-contact-content > h1, .modal-contact-content .photographerName {
    font-size: 2.2rem;
  }
  .modal-contact-content .photographerName {
    line-height: 1.75rem;
  }
  .fa-times{
    font-size: 1.5rem;
    position: absolute;
    top: .3rem;
    right: .3rem;
  }
  .btn-submit{
    position: relative;
    left: 6.5rem;
}
ul img{
  width: 100%;
}
  }

